<mat-sidenav-container fullscreen>
  <app-sidenav [open]="showSidenav$ | async" (closeSidenav)="closeSidenav()">
    <app-nav-item *ngIf="loggedIn$ | async" (navigate)="closeSidenav()" routerLink="/" icon="home" desc="Go to the home page">
      Home
    </app-nav-item>
    <app-nav-item *ngIf="loggedIn$ | async" (navigate)="closeSidenav()" routerLink="/accounts/profile" icon="person" desc="View my profile">
      Profile
    </app-nav-item>
    <app-nav-item *ngIf="(loggedIn$ | async) && (isAdmin$ | async)" (navigate)="closeSidenav()" routerLink="/accounts/browse" icon="people" desc="View all accounts">
      Accounts
    </app-nav-item>
    <app-nav-item *ngIf="!(loggedIn$ | async)" (navigate)="closeSidenav()" routerLink="/login">
      Sign In
    </app-nav-item>
    <app-nav-item *ngIf="loggedIn$ | async" (navigate)="logout()">
      Sign Out
    </app-nav-item>
  </app-sidenav>
  <app-toolbar (openSidenav)="openSidenav()">
    NgRx Auth App
  </app-toolbar>
  <div class="app__container">
    <router-outlet></router-outlet>
  </div>
  <app-page-backdrop *ngIf="showSidenav$ | async" (backdropClick)="closeSidenav()"></app-page-backdrop>
</mat-sidenav-container>