<mat-card>
  <mat-card-title>Login</mat-card-title>
  <div class="mat-spinner__form-wrapper" *ngIf="_pending">
    <mat-spinner class="mat-spinner__form" [diameter]="25"></mat-spinner>
  </div>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
      <p *ngIf="errorMessage" class="form__error">
        {{ errorMessage }}
      </p>
      <p class="form__btn">
        <button type="submit" mat-button>Login</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>